<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="_include/head.html"></div>
</head>

<header>


	<div th:insert="_include/header.html"></div>
</header>


<body>


	<div class="container pages ">

		<!-- Body
       ================================================== -->

		<!-- display site -->
		<p></p>
		<p>
			<b>Le retour du livre à bien été pris en compte</b>
		</p>





		<button type="button" class="btn btn-secondary">
			<a th:href="@{/PersonalSpace}">Retour à mon espace personnel</a>
		</button>
	</div>

	<footer>
		<div th:insert="_include/footer.html"></div>
	</footer>

</body>
</html>