<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="_include/head.html"></div>
</head>
<header class="raw">
	<div th:insert="_include/header.html"></div>
</header>
<body>


	<div class="container pages">

		<!-- Body
       ================================================== -->

		<!-- display site -->
		<p></p>
		<p>
			<b>Vous devez être identifié pour accéder à cette fonction</b>
		</p>

		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Se connecter</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span> <span><i
							class="fab fa-google-plus-square"></i></span> <span><i
							class="fab fa-twitter-square"></i></span>
					</div>
				</div>



				<div class="card-body">
					<form method="post" action="/login" modelAttribute="userSession">


						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>

							<input type="text" class="form-control" name="userEmail"
								placeholder="email">

						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" name="userPassword"
								placeholder="Mot de passe">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Se souvenir de moi
						</div>
						<div class="form-group">
							<input type="submit" value="Login"
								class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Pas encore inscrit?<a href="/newUser">Créer un compte</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Mot de passe oublié?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div th:insert="_include/footer.html"></div>
	</footer>

</body>
</html>