<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="_include/head.html"></div>
</head>

<header class="raw">
	<div th:insert="_include/header.html"></div>
</header>
<body>


	<div class="pages container">

		<!-- Body
       ================================================== -->

		<!-- display site -->
		<p></p>
		<p>
			<b>Les bibliothèques municipales n'ont pas encore ce livre !</b>
		</p>

	</div>


	<footer>
		<div th:insert="_include/footer.html"></div>
	</footer>

</body>
</html>