<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="_include/head.html"></div>
</head>

<header class="raw">
	<div th:insert="_include/header.html"></div>
</header>
<body>


	<div class="container pages">

		<!-- Body
       ================================================== -->

		<!-- display site -->
		<p></p>
		<p>
			<b>L'email et le mot de passe n'ont pas été reconnus. Veuillez
				re-essayer ou vous enregistrer.</b>
		</p>
		<button type="button" class="btn btn-secondary">
			<a href="/loginPage">Réessayer</a>
		</button>
		<button type="button" class="btn btn-secondary">
			<a href="/newUser">Créer un compte</a>
		</button>
	</div>

	<footer>
		<div th:insert="_include/footer.html"></div>
	</footer>

</body>
</html>