<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="_include/head.html"></div>
</head>
<link rel="stylesheet" th:href="@{/styles.css}" />
<header>

	<nav class="nav">

		<div class="container-fluid">

			<div class="navbar-fixed-top">
				<ul class="nav navbar-nav">
					<li><a href="/home">Bibliothèques municipales</a></li>
					<!-- for search book with name -->

					<li th:if="${log}==null"><a href="/loginPage">Login</a></li>
					<li th:if="${log}==null"><a href="/newUser">Créer un
							compte...</a></li>
					<li th:if="${log}!=null"><a th:href="@{/PersonalSpace}">Mon
							espace personnel</a>
					<li><a href="/contact">contact</a></li>

					<li><a th:href="@{/Search}">Filtrer</a></li>
					<li th:if="${log}!=null"><a href="/logout">Se deconnecter
					</a></li>
					<li th:if="${log}==null" class="nav text-right">Vous n'êtes
						pas identifié</li>
					<li th:if="${log}!=null" class="nav text-right"
						th:text="${log.userEmail}"></li>
				</ul>

			</div>
		</div>
	</nav>
</header>

<body>

	<footer class="footer bg-black text-center text-white-50">

		<div class="container pages">
			<section class="contact-section bg-black">
				<div class="container">
					<div class="row">
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<i class="fas fa-map-marked-alt text-primary mb-2"></i>
									<h4 class="text-uppercase m-0">Address</h4>
									<hr class="my-4" />
									<div class="small text-black-50">4923 Market Street,
										Orlando FL</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<i class="fas fa-envelope text-primary mb-2"></i>
									<h4 class="text-uppercase m-0">Email</h4>
									<hr class="my-4" />
									<div class="small text-black-50">
										<a href="#!">hello@yourdomain.com</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<i class="fas fa-mobile-alt text-primary mb-2"></i>
									<h4 class="text-uppercase m-0">Phone</h4>
									<hr class="my-4" />
									<div class="small text-black-50">+1 (555) 902-8832</div>
								</div>
							</div>
						</div>
					</div>
					<div class="social d-flex justify-content-center">
						<a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
							class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
							class="mx-2" href="#!"><i class="fab fa-github"></i></a>
					</div>
				</div>
			</section>
		</div>
	</footer>
</body>

<footer>
	<div th:insert="_include/footer.html"></div>
</footer>
</body>
</html>
