<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="_include/head.html"></div>
</head>
<header>

	<div th:insert="_include/header.html"></div>
</header>


<body>

	<div class="container pages">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>S'inscrire</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span> <span><i
							class="fab fa-google-plus-square"></i></span> <span><i
							class="fab fa-twitter-square"></i></span>
					</div>
				</div>



				<div class="card-body">
					<form th:action="@{/newUserPost}" th:object="${newUser}"
						method="POST">


						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>

							<input type="text" th:field="*{userFirstName}"
								class="form-control" placeholder="Prénom*" required>
							<div class="errors" th:if="${#fields.hasErrors('*')}"
								th:errors="*{userFirstName}"></div>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" th:field="*{userName}" class="form-control"
								placeholder="Nom*" required>
							<div class="errors" th:if="${#fields.hasErrors('*')}"
								th:errors="*{userName}"></div>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i
									class="fas fa-envelope"></i></span>
							</div>
							<input type="text" name="your-email" id="your-email"
								class="form-control" placeholder="Email*" required
								pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" th:field="*{userEmail}">
							<div class="errors" th:if="${#fields.hasErrors('*')}"
								th:errors="*{userEmail}"></div>

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-lock"></i></span>
							</div>
							<input type="password" name="password" id="password"
								class="form-control" placeholder="Mot de passe*" required
								th:field="*{userPassword}">
							<div class="errors" th:if="${#fields.hasErrors('*')}"
								th:errors="*{userPassword}"></div>

						</div>
						<div class="form-group">
							<p>(*) obligatoire</p>
							<input type="submit" name="Envoyer"
								class="btn float-right login_btn" value="Envoyer">
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</body>
<footer>
	<div th:insert="_include/footer.html"></div>
</footer>

</html>