<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="_include/head.html"></div>
</head>

<header>


	<div th:insert="_include/header.html"></div>
</header>


<body>

	<div class="container pages">
		<h2>Réservations en cours:</h2>


		<table class="table shadow p-3 mb-5 bg-white rounded">
			<tr>
				<th>Livre</th>
				<th>Auteur</th>
				<th>date début prêt</th>
				<th>Date de retour max</th>
				<th>Prolonger 1 mois</th>
				<th>Bibliothèque</th>
			</tr>
			<tr th:each="r:${reservation}" th:if="${!r.bookBack}">
				<td th:text="${r.book.bookName}" id="bookName"></td>
				<td th:text="${r.book.bookAuthor}" id="bookAuthor"></td>
				<td th:text="${r.beginOfReservationDate}" id="beginReservationDate"></td>
				<td th:text="${r.endOfReservationDate}" id="endOfReservationDate"></td>
				<td th:if="${!r.extensionOfReservation}"><a class="persolink"
					th:href="@{'/ExtendTime/'+ ${r.id}}">prolonger</a></td>
				<td th:if="${r.extensionOfReservation}">plus disponible</td>
				<td th:text="${r.library.libraryName}" id="libraryName"></td>
				<td><a class="persolink"
					th:href="@{'/BookBack/' + ${r.getId()}}">Finir le prêt</a></td>
			</tr>
		</table>
	</div>
	</div>

	<footer>
		<div th:insert="_include/footer.html"></div>
	</footer>

</body>
</html>